@import url("https://fonts.googleapis.com/css2?family=Gaegu&family=Nanum+Myeongjo&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Myeongjo", serif;
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

/* 650px 이하일때 */
@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding: 0 20px;
}

/* My Button  */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: "Nanum Myeongjo", serif;
}

.MyButton_default {
  background-color: #ececec;
  color: #000;
}

.MyButton_positive {
  background-color: #64c964;
  color: #fff;
}

.MyButton_negative {
  background-color: #fd565f;
  color: #fff;
}
